{
  "openapi": "3.1.0",
  "info": {
    "title": "Bid2Bill API Doc",
    "version": "8.0.0",
    "contact": {
      "name": "API Support",
      "url": "https://www.example.com/support",
      "email": "henryobiaraije@gmail.com"
    }
  },
  "servers": [
    {
      "url": "https://grocery.bid2bill.com",
      "description": "Bid2Bill API - Grocery"
    },
    {
      "url": "https://demo.bid2bill.com",
      "description": "Bid2Bill API - For Demo Site"
    },
    {
      "url": "https://bid2bill.transcpginc.com",
      "description": "Bid2Bill API - For Demo Site"
    },
    {
      "url": "https://test2.test",
      "description": "Bid2Bill API - For Local Test Site"
    },
    {
      "url": "https://f076-38-146-55-45.ngrok-free.app",
      "description": "Test2 Tunnel"
    }
  ],
  "paths": {
    "/wp-json/bid-2-bill/v1/auth/password-recovery/send-otp": {
      "post": {
        "summary": "Send OTP to the user email for password recovery.",
        "operationId": "sendPasswordRecoveryOtp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username_or_email": {
                    "type": "string",
                    "description": "The email or username of the user as provided during signup",
                    "example": "user@example.com"
                  }
                },
                "required": [
                  "username_or_email"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BooleanResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Authentication"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/auth/password-recovery/verify-otp": {
      "post": {
        "summary": "Verify OTP sent to the user email for password recovery.",
        "operationId": "verifyPasswordRecoveryOtp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username_or_email": {
                    "type": "string",
                    "description": "The email or username of the user as provided during signup",
                    "example": "user@example.com"
                  },
                  "otp": {
                    "type": "string",
                    "description": "The OTP sent to the user email",
                    "example": "1234"
                  }
                },
                "required": [
                  "username_or_email",
                  "otp"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BooleanResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Authentication"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/auth/password-recovery/reset-password": {
      "put": {
        "summary": "Reset password for the user after verifying OTP.",
        "operationId": "resetPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username_or_email": {
                    "type": "string",
                    "description": "The email or username of the user as provided during signup",
                    "example": "user@example.com"
                  },
                  "otp": {
                    "type": "string",
                    "description": "The OTP sent to the user email",
                    "example": "1234"
                  },
                  "password": {
                    "type": "string",
                    "description": "The new password for the user",
                    "example": "password"
                  }
                },
                "required": [
                  "username_or_email",
                  "otp",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BooleanResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Authentication"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/seller/auth/signup": {
      "post": {
        "summary": "Signup as a seller.",
        "description": "Note, don't send application password or username in the header.",
        "operationId": "signupSeller",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "The first name of the user",
                    "example": "John"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "The last name of the user",
                    "example": "Doe"
                  },
                  "email": {
                    "type": "string",
                    "description": "The email of the user",
                    "example": "user@example.com"
                  },
                  "username": {
                    "type": "string",
                    "description": "The username of the user",
                    "examples": [
                      "johndoe"
                    ]
                  },
                  "password": {
                    "type": "string",
                    "description": "The password for the user",
                    "example": "password"
                  },
                  "phone": {
                    "type": "string",
                    "description": "The phone number of the user",
                    "example": "+1234567890"
                  }
                },
                "required": [
                  "first_name",
                  "last_name",
                  "email",
                  "username",
                  "password",
                  "phone"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/GetUserInfoResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Authentication",
          "Seller",
          "Buyer"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/seller/auth/login": {
      "post": {
        "summary": "Login as a seller.",
        "description": "Note, don't send application password or username in the header.",
        "operationId": "loginSeller",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email_or_username": {
                    "type": "string",
                    "description": "The email or username of the user as provided during signup",
                    "example": "user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "description": "The password for the user as provided during signup",
                    "example": "password"
                  },
                  "device_name": {
                    "type": "string",
                    "description": "The name of the device to login from. e.g. Iphone11. This is used to identify the device for which the token is being refreshed. Also used to allow user to login to different devices",
                    "example": "Iphone11"
                  }
                },
                "required": [
                  "email_or_username",
                  "password",
                  "device_name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LoginResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Authentication",
          "Seller"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/seller/auth/login/phone": {
      "post": {
        "summary": "Login as a vendor using phone number.",
        "description": "Note, don't send application password or username in the header.",
        "operationId": "loginSellerWithPhone",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone_number": {
                    "type": "string",
                    "description": "The phone number of the user as provided during signup",
                    "example": "+1234567890"
                  },
                  "password": {
                    "type": "string",
                    "description": "The password for the user as provided during signup",
                    "example": "password"
                  },
                  "device_name": {
                    "type": "string",
                    "description": "The name of the device to login from. e.g. Iphone11. This is used to identify the device for which the token is being refreshed. Also used to allow user to login to different devices",
                    "example": "Iphone11"
                  }
                },
                "required": [
                  "phone_number",
                  "password",
                  "device_name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LoginResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Authentication",
          "Seller"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/seller/auth/logout": {
      "delete": {
        "summary": "Log a vendor out of a device",
        "description": "This will log the seller our of this device and delete the application password and refresh tokens for this device.",
        "operationId": "logoutSeller",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_name": {
                    "type": "string",
                    "description": "The name of the device to refresh the token for. e.g. Iphone11. This is used to identify the device for which the token is being refreshed. Also used to allow user to login to different devices",
                    "example": "Iphone11"
                  }
                },
                "required": [
                  "device_name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BooleanResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Authentication",
          "Seller"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/seller/auth/token/refresh": {
      "post": {
        "summary": "Refresh the Application Password for the current logged in seller",
        "description": "Note: Ensure refresh token is not expired before using as if its wrong, the user will be logged out of all devices (for this app id) to protect the user's account.",
        "operationId": "refreshSellerToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_name": {
                    "type": "string",
                    "description": "The name of the device to refresh the token for. e.g. Iphone11. This is used to identify the device for which the token is being refreshed. Also used to allow user to login to different devices",
                    "example": "Iphone11"
                  },
                  "refresh_token": {
                    "type": "string",
                    "example": "41dd4e23-0d8f-4e97-87ee-60f2e2245bd0"
                  }
                },
                "required": [
                  "device_name",
                  "refresh_token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LoginResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Authentication",
          "Seller"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/seller/bid-requests": {
      "get": {
        "summary": "Get Bid Requests for current seller.",
        "operationId": "getApiWpDocs",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "Page number for pagination. Starting from 1. ",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "menu",
            "in": "query",
            "required": false,
            "description": "Filter by menu name.  (pending): Bids Pending. Sent to this buyer but not yet accepted or rejected and also not expired.\n (accepted): Bids Accepted. Sent to this buyer and accepted.\n (rejected): Bids Rejected. Sent to this buyer and but buyer rejected it. expired: Bids Expired. Sent to this buyer but not accepted or rejected after some time.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "pending",
                "accepted",
                "rejected",
                "expired"
              ],
              "oneOf": [
                {
                  "enum": [
                    "all"
                  ],
                  "description": "All Bids requests sent to this buyer"
                },
                {
                  "enum": [
                    "pending"
                  ],
                  "description": "Bids Pending. Sent to this buyer but not yet accepted or rejected and also not expired."
                },
                {
                  "enum": [
                    "accepted"
                  ],
                  "description": "Bids Accepted. Sent to this buyer and accepted"
                },
                {
                  "enum": [
                    "rejected"
                  ],
                  "description": "Bids Rejected. Sent to this buyer and but buyer rejected it."
                },
                {
                  "enum": [
                    "expired"
                  ],
                  "description": "Bids Expired. Sent to this buyer but not accepted or rejected after some time."
                }
              ],
              "default": "all",
              "examples": [
                {
                  "value": "all",
                  "description": "All Bids requests sent to this buyer"
                },
                {
                  "value": "pending",
                  "description": "Bids Pending. Sent to this buyer but not yet accepted or rejected and also not expired."
                },
                {
                  "value": "accepted",
                  "description": "Bids Accepted. Sent to this buyer and accepted"
                },
                {
                  "value": "rejected",
                  "description": "Bids Rejected. Sent to this buyer and but buyer rejected it."
                },
                {
                  "value": "expired",
                  "description": "Bids Expired. Sent to this buyer but not accepted or rejected after some time."
                }
              ]
            }
          },
          {
            "name": "only_unseen_by_seller_id",
            "in": "query",
            "required": true,
            "description": "Set to 1 to return bid bid requests sent to this seller but this seller has not seen yet.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "only_unseen_for_rating_by_seller_id",
            "in": "query",
            "required": true,
            "description": "Set to 1 Return only bid requests that has offers thats ready to be rated by this seller.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "only_un_delivered_by_seller_id",
            "in": "query",
            "required": true,
            "description": "Set to 1 Return only bid requests that this seller sent offer for and the offer has been accepted by the buyer but ths seller has not marked it as delivered",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bid_requests": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BidRequest"
                      },
                      "description": "List of bid requests"
                    },
                    "found": {
                      "type": "integer",
                      "description": "Total number of bid requests found"
                    }
                  }
                },
                "examples": {
                }
              }
            }
          }
        },
        "tags": [
          "Bid Request",
          "Seller"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/seller/bid-request/{id}/seen": {
      "patch": {
        "summary": "Mark a bid request as seen by the current logged in seller. ",
        "operationId": "markBidRequestAsSeen",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the bid request to mark as seen"
          }
        ],
        "responses": {
          "200": {
            "description": "Bid request successfully marked as seen by current logged in seller",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean",
                  "example": true
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Bid Request",
          "Seller"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/seller/bid-request/{id}/reject": {
      "patch": {
        "summary": "Reject a bid request by the current logged in seller. ",
        "operationId": "rejectBidRequest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the bid request to reject"
          },
          {
            "name": "reason",
            "in": "query",
            "required": true,
            "description": "Reason for rejecting the bid request",
            "schema": {
              "type": "string",
              "example": "The price is too high."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bid request successfully rejected by current logged in seller",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean",
                  "example": true
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Bid Request",
          "Seller"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/seller/bid-offer/{id}/mark-delivered": {
      "patch": {
        "summary": "Mark a bid offer as delivered by the current logged in seller. ",
        "operationId": "markBidOfferAsDelivered",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the bid offer to mark as delivered"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/BooleanResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Bid Offer",
          "Seller"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/seller/bid-offer/winning-chance": {
      "post": {
        "summary": "Get the winning chance of a bid request. This is the chance of winning this bid request based on the current seller's offer.",
        "operationId": "getWinningChance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bid_offer_object": {
                    "$ref": "#/components/schemas/GetWinningChangePayload"
                  }
                },
                "required": [
                  "bid_offer_object"
                ],
                "example": {
                  "bid_offer_object": {
                    "id": 20596,
                    "bid_request_id": 19983,
                    "calculated_highest_percentage_discount_for_available_and_substitutes": 0,
                    "calculated_lowest_percentage_discount_for_available_and_substitutes": 0,
                    "calculated_percentage_discount_for_available_only": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetWinningChanceResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Bid Offer",
          "Seller"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/seller/bid-offer/{id}/buyer-contact-info": {
      "get": {
        "summary": "Get the contact information of the buyer who made the bid request. Only accessible after the buyer has accepted and paid for the offer",
        "operationId": "getBuyerContactInfo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the bid offer to get buyer contact info for"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/BuyerContractInfo"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Bid Offer",
          "Seller"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/seller/bid-offer/{id}/rate": {
      "patch": {
        "summary": "Rate a bid offer by the current logged in seller. It means this seller is rating the buyer who accepted this offer. ",
        "operationId": "sellerRateBidOffer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the bid offer to rate"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rating": {
                    "type": "integer",
                    "description": "The rating of the buyer. 1-5.",
                    "example": 4
                  }
                },
                "required": [
                  "rating"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BidOffer"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Bid Offer",
          "Seller"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/seller/bid-offer": {
      "post": {
        "summary": "Create (submit) a new bid offer",
        "operationId": "createBidOffer",
        "description": "For creation, you can provide only the necessary fields. ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bid_offer_object": {
                    "$ref": "#/components/schemas/NewBidOffer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateBidOfferResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Bid Offer",
          "Seller"
        ]
      },
      "put": {
        "summary": "Update (Resubmit) an existing bid offer",
        "operationId": "updateBidOffer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bid_offer_object": {
                    "$ref": "#/components/schemas/UpdateBidOffer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateBidOfferResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Bid Offer",
          "Seller"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/seller/bid-offer/submission/cost": {
      "post": {
        "summary": "Get the cost of submitting a bid offer. Use this to determine if the user has enough balance to submit a bid offer.",
        "operationId": "getBidOfferSubmissionCost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bid_offer_object": {
                    "$ref": "#/components/schemas/CalculateBidOfferCostPayload"
                  }
                }
              },
              "example": {
                "bid_offer_object": {
                  "bid_request_id": 19983,
                  "bid_offer_products": [
                    {
                      "product_id": 45715,
                      "quantity": 1,
                      "status": "available",
                      "bid_offer_product_substitutes": []
                    },
                    {
                      "product_id": 45111,
                      "quantity": 2,
                      "status": "available",
                      "bid_offer_product_substitutes": [
                        {
                          "product_id": 45112,
                          "quantity": 2
                        },
                        {
                          "product_id": 45112,
                          "quantity": 1
                        }
                      ]
                    }
                  ],
                  "discount_for_available_only": 5,
                  "discount_for_available_and_substitute": 0
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BidOfferCostForOfferSubmissionResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Bid Offer",
          "Seller"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/seller/notification/count": {
      "get": {
        "summary": "Get the count of notifications for the current logged in seller",
        "operationId": "getSellerNotificationCount",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SellerNotificationCount"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Seller"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/seller/membership/details": {
      "get": {
        "summary": "Get the membership details of the current logged in seller.",
        "operationId": "getMembershipDetails",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SellerMembershipDetailsResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Seller",
          "Membership",
          "Wallet"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/seller/membership/assign": {
      "post": {
        "summary": "Assign a new membership plan to a seller",
        "operationId": "assignMembershipToSeller",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "plan_type": {
                    "$ref": "#/components/schemas/PlanType"
                  }
                },
                "required": [
                  "plan_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BooleanResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Seller",
          "Membership"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/seller/membership/capabilities": {
      "get": {
        "summary": "Get the capabilities of the current logged in seller's membership plan.",
        "operationId": "getMembershipCapabilities",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SellerMembershipCapabilitiesResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Seller",
          "Membership"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/seller/membership/free-trial/eligibility": {
      "get": {
        "summary": "Check if the current logged in seller is eligible for free trial.",
        "operationId": "checkFreeTrialEligibility",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SellerFreeTrialEligibilityResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Seller",
          "Membership"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/seller/savings/stats": {
      "get": {
        "summary": "Get the savings stats for the current logged in seller.",
        "operationId": "getSavingsStats",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SellerSavingsResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Seller",
          "Stats"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/seller/bids/stats": {
      "get": {
        "summary": "Get the bids stats for the current logged in seller.",
        "operationId": "getBidsStats",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SellerBidsStatsResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Seller",
          "Stats"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/buyer/auth/signup": {
      "post": {
        "summary": "Signup as a buyer.",
        "description": "Note, don't send application password or username in the header.",
        "operationId": "signupBuyer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "The first name of the user",
                    "example": "John"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "The last name of the user",
                    "example": "Doe"
                  },
                  "email": {
                    "type": "string",
                    "description": "The email of the user",
                    "example": "user@example.com"
                  },
                  "username": {
                    "type": "string",
                    "description": "The username of the user",
                    "example": "johndoe"
                  },
                  "password": {
                    "type": "string",
                    "description": "The password for the user",
                    "example": "password"
                  }
                },
                "required": [
                  "first_name",
                  "last_name",
                  "email",
                  "username",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/GetUserInfoResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Buyer",
          "Authentication"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/buyer/auth/login": {
      "post": {
        "summary": "Login as a buyer. Note, every user is a buyer. Don't use this endpoint to login as a seller.",
        "operationId": "loginBuyer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email_or_username": {
                    "type": "string",
                    "description": "The email or username of the user as provided during signup",
                    "example": "user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "description": "The password for the user as provided during signup",
                    "example": "password"
                  },
                  "device_name": {
                    "type": "string",
                    "description": "The name of the device to login from. e.g. Iphone11. This is used to identify the device for which the token is being refreshed. Also used to allow user to login to different devices",
                    "example": "Iphone11"
                  }
                },
                "required": [
                  "email_or_username",
                  "password",
                  "device_name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LoginResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Buyer",
          "Authentication"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/buyer/auth/convert-to-seller": {
      "post": {
        "summary": "Convert a buyer to a seller.",
        "description": "If the user is already a seller, you'll still get a success response",
        "operationId": "convertBuyerToSeller",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone_number": {
                    "type": "string",
                    "description": "The phone number of the user",
                    "example": "+1234567890"
                  }
                },
                "required": [
                  "phone_number"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetUserInfoResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Buyer",
          "Authentication"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/buyer/auth/logout": {
      "delete": {
        "summary": "Log a buyer out of a device",
        "description": "This will log the buyer our of this device and delete the application password and refresh tokens for this device.",
        "operationId": "logoutBuyer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_name": {
                    "type": "string",
                    "description": "The name of the device to refresh the token for. e.g. Iphone11. This is used to identify the device for which the token is being refreshed. Also used to allow user to login to different devices",
                    "example": "Iphone11"
                  }
                },
                "required": [
                  "device_name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BooleanResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Buyer",
          "Authentication"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/buyer/auth/token/refresh": {
      "post": {
        "summary": "Refresh the Application Password for the current logged in buyer",
        "description": "Note: Ensure refresh token is not expired before using as if its wrong, the user will be logged out of all devices (for this app id) to protect the user's account.",
        "operationId": "refreshBuyerToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_name": {
                    "type": "string",
                    "description": "The name of the device to refresh the token for. e.g. Iphone11. This is used to identify the device for which the token is being refreshed. Also used to allow user to login to different devices",
                    "example": "Iphone11"
                  },
                  "refresh_token": {
                    "type": "string",
                    "example": "41dd4e23-0d8f-4e97-87ee-60f2e2245bd0"
                  }
                },
                "required": [
                  "device_name",
                  "refresh_token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LoginResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Buyer",
          "Authentication"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/buyer/bid-requests": {
      "get": {
        "summary": "Get Bid Requests for current buyer.",
        "operationId": "getBidRequestsForBuyer",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "Page number for pagination. Starting from 1. ",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "menu",
            "in": "query",
            "required": false,
            "description": "Filter by menu name",
            "schema": {
              "type": "string",
              "enum": [
                "bid_requests",
                "bid_offers",
                "bid_requests_for_rating",
                "bid_offers_for_rating"
              ],
              "default": "bids_submitted"
            }
          },
          {
            "name": "unseen_only_by_buyer_id",
            "in": "query",
            "required": true,
            "description": "Set to 1 to return bid requests that have new offers this buyer has not seen yet.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "only_unseen_for_rating_by_buyer_id",
            "in": "query",
            "required": true,
            "description": "Set to 1 Return only requests unseen by buyer_id for rating. After a buyer accepts and pays for an offer, the buyer can rate the seller after sometime. This will return only the bid requests that the buyer has not rated yet.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bid_requests": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BidRequest"
                      },
                      "description": "List of bid requests"
                    },
                    "found": {
                      "type": "integer",
                      "description": "Total number of bid requests found",
                      "example": 23
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Buyer",
          "Bid Request"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/buyer/bid-request": {
      "post": {
        "summary": "Create a new bid request",
        "operationId": "createBidRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product_ids_and_quantities": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ProductIdsAndQuantities"
                    },
                    "description": "An Array of objects of woocommerce products and quantities.",
                    "example": [
                      {
                        "product_id": 45715,
                        "quantity": 1
                      },
                      {
                        "product_id": 45111,
                        "quantity": 2
                      }
                    ]
                  },
                  "parent_bid_request_id": {
                    "type": "integer",
                    "description": "The parent bid request id in case this is a re-bide from a previous bid request.",
                    "example": 0
                  },
                  "parent_bid_offer_id": {
                    "type": "integer",
                    "description": "The parent bid offer id in case this is a re-bid on a previous bid offer.",
                    "example": 0
                  }
                },
                "required": [
                  "product_ids_and_quantities"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BidRequestResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Buyer",
          "Bid Request"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/buyer/bid-request/{id}": {
      "delete": {
        "summary": "Delete a bid request. Must be initiated by the buyer who made the bid request.",
        "operationId": "deleteBidRequest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the bid request to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Bid request successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean",
                  "example": true
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Buyer",
          "Bid Request"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/buyer/bid-request/{bid_request_id}/mark-as-paid/order/{order_id}": {
      "put": {
        "summary": "Mark a bid request as paid by the current logged in buyer.",
        "operationId": "markBidRequestAsPaid",
        "parameters": [
          {
            "name": "bid_request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the bid request to mark as paid"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the order created for this bid request"
          }
        ],
        "responses": {
          "200": {
            "description": "Bid request successfully marked as paid by current logged in buyer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid bid request, invalid order, order not paid, no products in order, not all products in order, no accepted offer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Not allowed (user does not own bid request or order)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "Buyer",
          "Bid Request"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/buyer/bid-offer/{id}/seen": {
      "patch": {
        "summary": "Mark a bid offer as seen by the current logged in buyer. ",
        "operationId": "markBidOfferAsSeen",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the bid offer to mark as seen"
          }
        ],
        "responses": {
          "200": {
            "description": "Bid offer successfully marked as seen by current logged in buyer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean",
                  "example": true
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Buyer",
          "Bid Offer"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/buyer/bid-offer/{id}/rate": {
      "patch": {
        "summary": "Rate a bid offer by the current logged in buyer. ",
        "operationId": "buyerRateBidOffer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the bid offer to rate"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "rating": {
                    "type": "integer",
                    "description": "The rating of the seller. 1-5.",
                    "example": 4
                  }
                },
                "required": [
                  "rating"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BidOffer"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Buyer",
          "Bid Offer"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/buyer/bid-offer/{id}/accept": {
      "patch": {
        "summary": "Accept a bid offer by the current logged in buyer. ",
        "operationId": "acceptBidOffer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the bid offer to accept",
            "example": 46244
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bid_offer_product_substitute_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "The bid offer product substitutes ids to be marked as selected if the method total selected by buyer is available only or available and substitutes",
                    "example": [
                      46247,
                      46248
                    ]
                  },
                  "selected_total_type": {
                    "type": "string",
                    "enum": [
                      "available_only",
                      "available_and_substitute"
                    ],
                    "description": "The type of total the buyer selected for this offer"
                  }
                },
                "required": [
                  "bid_offer_product_substitute_ids",
                  "selected_total_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BidOffer"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Buyer",
          "Bid Offer"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/buyer/bid-offer/{id}/reject": {
      "patch": {
        "summary": "Reject a bid offer by the current logged in buyer. ",
        "operationId": "rejectBidOffer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the bid offer to reject"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "The reason for rejecting the bid offer",
                    "example": "The price is too high."
                  }
                },
                "required": [
                  "reason"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BooleanResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Buyer",
          "Bid Offer"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/buyer/notification/count": {
      "get": {
        "summary": "Get the count of notifications for the current logged in buyer",
        "operationId": "getBuyerNotificationCount",
        "responses": {
          "200": {
            "$ref": "#/components/responses/BuyerNotificationCount"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Buyer",
          "Notification"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/buyer/landing-page/product/search": {
      "get": {
        "summary": "Search for products on the landing page",
        "operationId": "searchLandingPageProducts",
        "parameters": [
          {
            "name": "search_text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search term to filter the products",
            "example": "milk"
          },
          {
            "name": "max",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of products to return",
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LandingPageProductResponse"
          }
        },
        "tags": [
          "Buyer",
          "Landing Page"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/buyer/landing-page/trending-deals": {
      "get": {
        "summary": "Get trending deals on the landing page",
        "operationId": "getTrendingDeals",
        "parameters": [
          {
            "name": "max",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of products to return",
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LandingPageProductResponse"
          }
        },
        "tags": [
          "Buyer",
          "Landing Page"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/buyer/savings/stats": {
      "get": {
        "summary": "Get the savings stats for the current logged in buyer.",
        "description": "This is the savings stats this buyer has accumulated over time considering the amount they would have paid vs the amount they actually pad due to discount given to them by bid2bill sellers ",
        "operationId": "getBuyerSavingsStats",
        "responses": {
          "200": {
            "$ref": "#/components/responses/BuyerSavingsResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Buyer",
          "Stats"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/client-device/register": {
      "post": {
        "summary": "Register a new client device for a user. Used for push notification",
        "operationId": "registerClientDevice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_name": {
                    "type": "string",
                    "description": "The name of the device to register. This can be a UUID or any unique identifier for the device. Allows us to identify multiple devces for each user. This used to identify each device for push notification.",
                    "examples": [
                      "32f2b2a3-4c5d-4e6f-8a7b-8c9d0e1f2a3b"
                    ]
                  },
                  "device_type": {
                    "type": "string",
                    "description": "The type of the device. e.g. Android, IOS, Web",
                    "examples": [
                      "mobile"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetClientDeviceResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Client Device"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/client-device/unregister": {
      "delete": {
        "summary": "Unregister a client device for a user. Used for push notification",
        "operationId": "unregisterClientDevice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_name": {
                    "type": "string",
                    "description": "The name of the device to unregister. This can be a UUID or any unique identifier for the device. Allows us to identify multiple devces for each user. This used to identify each device for push notification.",
                    "examples": [
                      "32f2b2a3-4c5d-4e6f-8a7b-8c9d0e1f2a3b"
                    ]
                  },
                  "device_type": {
                    "type": "string",
                    "description": "The type of the device. e.g. Android, IOS, Web",
                    "examples": [
                      "mobile"
                    ]
                  }
                },
                "required": [
                  "device_name",
                  "device_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BooleanResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Client Device"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/client-device/save-fcm-token": {
      "patch": {
        "summary": "Save the FCM token for a client device. Used for push notification",
        "operationId": "saveFcmToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_name": {
                    "type": "string",
                    "description": "The name of the device to save the FCM token for. This can be a UUID or any unique identifier for the device. Allows us to identify multiple devces for each user. This used to identify each device for push notification.",
                    "example": "32f2b2a3-4c5d-4e6f-8a7b-8c9d0e1f2a3b"
                  },
                  "device_type": {
                    "type": "string",
                    "description": "The type of the device. e.g. mobile, browser",
                    "example": "mobile"
                  },
                  "fcm_token": {
                    "type": "string",
                    "description": "The FCM token to save for this device.",
                    "example": "fcm_token_example"
                  }
                },
                "required": [
                  "device_name",
                  "fcm_token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BooleanResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Client Device"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/client-device/defer-push-notification": {
      "patch": {
        "summary": "Defer (When a user says Remind me later)  push notification for a client device. ",
        "description": "This means the user wants us to remind them to accept push notifications later.",
        "operationId": "deferPushNotification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_name": {
                    "type": "string",
                    "description": "The name of the device to defer push notification for. This can be a UUID or any unique identifier for the device. Allows us to identify multiple devces for each user. This used to identify each device for push notification.",
                    "examples": [
                      "32f2b2a3-4c5d-4e6f-8a7b-8c9d0e1f2a3b"
                    ]
                  },
                  "device_type": {
                    "type": "string",
                    "description": "The type of the device. e.g. mobile, browser",
                    "examples": [
                      "mobile"
                    ]
                  }
                },
                "required": [
                  "device_name",
                  "device_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BooleanResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Client Device"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/woo-products/{id}/product-substitute": {
      "get": {
        "summary": "Get the product substitutes for a product",
        "operationId": "getProductSubstitutes",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the product to get substitutes for",
            "example": 45109
          },
          {
            "name": "search_text",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search term to filter the substitutes",
            "example": "milk"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/WooProductSubstitute"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Woocommerce"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/user/location": {
      "get": {
        "summary": "Get the location of the current logged in user",
        "operationId": "getUserLocation",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetUserLocationResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Location"
        ]
      },
      "put": {
        "summary": "Update the location of the current logged in user",
        "operationId": "updateUserLocation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserLocation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BooleanResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Location"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/user/info": {
      "get": {
        "summary": "Get the information of the current logged in user",
        "operationId": "getUserInfo",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetUserInfoResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Authentication"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/user/phone/verify/send-otp": {
      "post": {
        "summary": "Send OTP to the current logged in user's existing phone number for verification. If the user has not set a phone number, this will return an error.",
        "operationId": "sendPhoneVerificationOtp",
        "responses": {
          "200": {
            "$ref": "#/components/responses/BooleanResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Authentication"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/user/phone/verify/verify-otp": {
      "post": {
        "summary": "Verify OTP sent to the user phone number for verification.",
        "operationId": "verifyPhoneVerificationOtp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "otp": {
                    "type": "string",
                    "description": "The OTP sent to the user phone number",
                    "example": "1234"
                  }
                },
                "required": [
                  "otp"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BooleanResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Authentication"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/user/phone/reset-password": {
      "post": {
        "summary": "Reset the password of the current logged in user using phone number verification.",
        "operationId": "resetPasswordUsingPhone",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "otp": {
                    "type": "string",
                    "description": "The OTP sent to the user phone number",
                    "example": "1234"
                  },
                  "password": {
                    "type": "string",
                    "description": "The new password for the user",
                    "example": "newpassword"
                  }
                },
                "required": [
                  "otp",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BooleanResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Authentication"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/user/profile/phone": {
      "put": {
        "summary": "Update the phone number of the current logged in user",
        "operationId": "updateUserPhone",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone_number": {
                    "type": "string",
                    "description": "The phone number of the user",
                    "examples": [
                      "+1234567890"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BooleanResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Authentication"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/user/jwt-auth/token": {
      "post": {
        "summary": "Get a JWT token for the current logged in user",
        "operationId": "getJwtToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "The username or email of the user to get the token for. This is used to identify the user for push notification.",
                    "examples": [
                      "user1@emal.com"
                    ]
                  },
                  "password": {
                    "type": "string",
                    "description": "The password of the user to get the token for.",
                    "examples": [
                      "password123"
                    ]
                  },
                  "device_name": {
                    "type": "string",
                    "description": "The name of the device to get the token for. This can be a UUID or any unique identifier for the device. Allows us to identify multiple devces for each user. This used to identify each device for push notification.",
                    "examples": [
                      "32f2b2a3-4c5d-4e6f-8a7b-8c9d0e1f2a3b"
                    ]
                  }
                },
                "required": [
                  "username",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LoginResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Authentication"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/membership/plans": {
      "get": {
        "summary": "Get the membership plans",
        "operationId": "getMembershipPlans",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetMembershipPlansResponse"
          }
        },
        "tags": [
          "Membership",
          "Wallet"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/test-helper/test-user": {
      "post": {
        "summary": "Create a test user (For development only)",
        "operationId": "createTestUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "test_nonce": {
                    "type": "string",
                    "description": "The test nonce to verify the request.",
                    "example": "3e4a98d1-93e5-4277-ab47-5f5633d8a23e"
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of user to create. Possible values: 'buyer', 'seller'.",
                    "example": "buyer"
                  },
                  "email": {
                    "type": "string",
                    "description": "The email address for the test user.",
                    "example": "testuser@example.com"
                  },
                  "username": {
                    "type": "string",
                    "description": "The username for the test user.",
                    "example": "testuser"
                  },
                  "password": {
                    "type": "string",
                    "description": "The password for the test user.",
                    "example": "aaaa",
                    "minLength": 3
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BooleanResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Testing"
        ]
      },
      "delete": {
        "summary": "Delete a test user",
        "operationId": "deleteTestUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "admin_nonce": {
                    "type": "string",
                    "description": "The admin nonce to verify the request.",
                    "example": "3e4a98d1-93e5-4277-ab47-5f5633d8a23e"
                  },
                  "delete_these": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The user stuff to delete. Possible values: 'all', 'bid_requests', 'bid_offers', 'notifications', 'saved_products', 'saved_bids', 'saved_bid_offers', 'saved_bid_requests'.",
                    "example": [
                      "all"
                    ]
                  },
                  "username": {
                    "type": "string",
                    "description": "The username of the test user to delete.",
                    "example": "testuser"
                  }
                },
                "required": [
                  "admin_nonce",
                  "delete_these",
                  "username"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/BooleanResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Testing"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/test-helper/test-data": {
      "post": {
        "summary": "Create test users with products at once. Delete users if existing by username. (For developers only)",
        "operationId": "createTestData",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "test_nonce": {
                    "type": "string",
                    "description": "The test nonce to verify the request.",
                    "example": "3e4a98d1-93e5-4277-ab47-5f5633d8a23e"
                  },
                  "new_users": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CreateTestUser"
                    }
                  },
                  "new_products": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CreateTestProduct"
                    }
                  },
                  "delete_all_products": {
                    "type": "boolean",
                    "description": "Delete all test products previously created before creating new ones.",
                    "example": true
                  }
                },
                "required": [
                  "test_nonce",
                  "new_users",
                  "new_products",
                  "delete_all_products"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateTestUserAndProductResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Testing"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/wallet/history": {
      "get": {
        "summary": "Get the wallet transactions for the current logged in seller.",
        "operationId": "getWalletTransactions",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "Page number for pagination. Starting from 1.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "created_at_start",
            "in": "query",
            "required": false,
            "description": "Start date for filtering transactions. Format: YYYY-MM-DD",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2023-01-01 00:00:00"
            }
          },
          {
            "name": "created_at_stop",
            "in": "query",
            "required": false,
            "description": "End date for filtering transactions. Format: YYYY-MM-DD",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2029-01-31 23:59:59"
            }
          },
          {
            "name": "updated_at_start",
            "in": "query",
            "required": false,
            "description": "Start date for filtering transactions by last updated date. Format: YYYY-MM-DD",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2023-01-01 00:00:00"
            }
          },
          {
            "name": "updated_at_stop",
            "in": "query",
            "required": false,
            "description": "End date for filtering transactions by last updated date. Format: YYYY-MM-DD",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2029-01-31 23:59:59"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter transactions by status. Possible values: 'pending', 'completed', 'failed'.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "pending",
                "succeeded",
                "failed"
              ],
              "default": "all",
              "examples": [
                "all"
              ]
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Sort transactions by a specific field. Possible values: 'id', 'amount', 'created_at', 'updated_at'. Default is 'created_at'.",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "amount",
                "created_at",
                "updated_at"
              ],
              "default": "created_at",
              "examples": [
                "created_at"
              ]
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "description": "Sort order for the transactions. Possible values: 'asc', 'desc'. Default is 'desc'.",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC",
              "examples": [
                "DESC"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SellerWalletTransactionsResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Seller",
          "Wallet"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/wallet/stats": {
      "get": {
        "summary": "Get the wallet stats for the current logged in seller.",
        "operationId": "getWalletStats",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SellerWalletStatsResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Seller",
          "Wallet"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/stripe/payment-intent": {
      "post": {
        "summary": "Create a Stripe payment intent for a product purchase",
        "operationId": "createStripePaymentIntent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "integer",
                    "description": "The amount to charge in the smallest currency unit (e.g., cents for USD).",
                    "examples": [
                      10
                    ]
                  },
                  "quantity": {
                    "type": "integer",
                    "description": "The quantity of the product being purchased.",
                    "examples": [
                      1
                    ]
                  },
                  "product_name": {
                    "type": "string",
                    "description": "The name of the product being purchased.",
                    "examples": [
                      "Test Product"
                    ]
                  },
                  "description": {
                    "type": "string",
                    "description": "A description of the product or purchase.",
                    "examples": [
                      "Purchase of Test Product"
                    ]
                  },
                  "redirect_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL to redirect the user after payment completion.",
                    "examples": [
                      "https://demo.bid2bill.com/checkout/thank-you/"
                    ]
                  }
                },
                "required": [
                  "amount",
                  "quantity",
                  "product_name",
                  "redirect_url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/StripePaymentIntentResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Wallet",
          "Seller"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/stripe/payment-intent-stripe-intent": {
      "post": {
        "summary": "Create a Stripe payment intent for a product purchase",
        "operationId": "createStripePaymentIntentStripeIntent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "integer",
                    "description": "The amount to charge in the smallest currency unit (e.g., cents for USD).",
                    "examples": [
                      10
                    ]
                  },
                  "quantity": {
                    "type": "integer",
                    "description": "The quantity of the product being purchased.",
                    "examples": [
                      1
                    ]
                  },
                  "product_name": {
                    "type": "string",
                    "description": "The name of the product being purchased.",
                    "examples": [
                      "Test Product"
                    ]
                  },
                  "description": {
                    "type": "string",
                    "description": "A description of the product or purchase.",
                    "examples": [
                      "Purchase of Test Product"
                    ]
                  },
                  "redirect_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "The URL to redirect the user after payment completion.",
                    "examples": [
                      "https://demo.bid2bill.com/checkout/thank-you/"
                    ]
                  }
                },
                "required": [
                  "amount",
                  "quantity",
                  "product_name",
                  "redirect_url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/StripePaymentIntentResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Wallet",
          "Seller"
        ]
      }
    },
    "/wp-json/wc/v3/customers/{id}": {
      "get": {
        "summary": "Get a WooCommerce customer by ID",
        "operationId": "getWooCustomerById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the WooCommerce customer to retrieve"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/WooCustomerResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Woocommerce"
        ]
      }
    },
    "/wp-json/bid-2-bill/v1/": {
      "get": {
        "summary": "Get the API details for this WP API.",
        "operationId": "getApiInfo",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {}
          }
        },
        "tags": [
          "Testing"
        ]
      }
    },
    "/wp-json/wp/v2/users/me/": {
      "get": {
        "summary": "Get the current logged in user details",
        "operationId": "getCurrentUserDetails",
        "responses": {
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Authentication"
        ]
      }
    },
    "/wp-json/bid-2-bill/user/logout": {
      "post": {
        "summary": "Logout the current logged in user",
        "operationId": "logoutUser",
        "responses": {
          "200": {
            "$ref": "#/components/responses/BooleanResponse"
          },
          "403": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        },
        "tags": [
          "Authentication"
        ]
      }
    }
  },
  "components": {
    "examples": {
      "BidOffer": {
        "value": {
          "id": 46244,
          "key": "BIDOFRQA26 040700001",
          "bid_request_id": 45859,
          "bid_request_key": "BIDREQQA25 022300003",
          "seller_id": 96,
          "status": "pending",
          "current_seller_ratting": 0,
          "seller_rating": 0,
          "seller_rating_description": "-1",
          "seller_rating_datetime": "",
          "its_time_for_seller_rating": false,
          "buyer_rating": 0,
          "buyer_rating_description": "",
          "buyer_rating_datetime": "",
          "its_time_for_buyer_rating": false,
          "seller_country": "Nigeria",
          "seller_state": "",
          "seller_address": "",
          "discount_for_available_and_substitute": 4,
          "discount_for_available_only": 3,
          "delivery_date": "2025-03-21",
          "delivery_time": "after_noon",
          "winning_change": "red",
          "offers_credit": "yes",
          "offers_credit_days": 5,
          "bid_offer_products": [
            {
              "id": 46245,
              "bid_offer_id": "46244",
              "created_at": "2026-04-07 20:01:19",
              "updated_at": "2026-04-07 20:01:19",
              "quantity": 2,
              "status": "available",
              "product_id": 32506,
              "product_title": "Test Product 5",
              "product_url": "",
              "product_price": 6,
              "product_price_html": "<del aria-hidden=\"true\"><span class=\"woocommerce-Price-amount amount\"><bdi>45.00&nbsp;<span class=\"woocommerce-Price-currencySymbol\">&#x62f;.&#x625;</span></bdi></span></del> <span class=\"screen-reader-text\">Original price was: 45.00&nbsp;&#x62f;.&#x625;.</span><ins aria-hidden=\"true\"><span class=\"woocommerce-Price-amount amount\"><bdi>6.00&nbsp;<span class=\"woocommerce-Price-currencySymbol\">&#x62f;.&#x625;</span></bdi></span></ins><span class=\"screen-reader-text\">Current price is: 6.00&nbsp;&#x62f;.&#x625;.</span>",
              "bid_offer_product_substitutes": [],
              "sub_total_available_only": 12,
              "sub_total_lowest_substitutes": 0,
              "sub_total_highest_substitutes": 0,
              "bought_by_buyer": "",
              "product_image_url": "https://demo.bid2bill.com/wp-content/uploads/2024/04/qb2ivfv3_0-150x150.jpg"
            },
            {
              "id": 46246,
              "bid_offer_id": "46244",
              "created_at": "2026-04-07 20:01:19",
              "updated_at": "2026-04-07 20:01:19",
              "quantity": 1,
              "status": "substitute",
              "product_id": 32505,
              "product_title": "Test Product 4",
              "product_url": "",
              "product_price": 12,
              "product_price_html": "<del aria-hidden=\"true\"><span class=\"woocommerce-Price-amount amount\"><bdi>14.00&nbsp;<span class=\"woocommerce-Price-currencySymbol\">&#x62f;.&#x625;</span></bdi></span></del> <span class=\"screen-reader-text\">Original price was: 14.00&nbsp;&#x62f;.&#x625;.</span><ins aria-hidden=\"true\"><span class=\"woocommerce-Price-amount amount\"><bdi>12.00&nbsp;<span class=\"woocommerce-Price-currencySymbol\">&#x62f;.&#x625;</span></bdi></span></ins><span class=\"screen-reader-text\">Current price is: 12.00&nbsp;&#x62f;.&#x625;.</span>",
              "bid_offer_product_substitutes": [
                {
                  "id": 46247,
                  "bid_offer_product_id": "46246",
                  "created_at": "2026-04-07 20:01:19",
                  "updated_at": "2026-04-07 20:01:19",
                  "quantity": 1,
                  "product_id": 34141,
                  "product_title": "Ice Cream",
                  "product_url": "https://demo.bid2bill.com/product/ice-cream/?attribute_flavor=Choco&attribute_size=75ml",
                  "product_price": 4,
                  "product_price_html": "<span class=\"woocommerce-Price-amount amount\"><bdi>4.00&nbsp;<span class=\"woocommerce-Price-currencySymbol\">&#x62f;.&#x625;</span></bdi></span>",
                  "calculated_sub_total": 4,
                  "selected_by_buyer": "",
                  "bought_by_buyer": "",
                  "product_image_url": "https://demo.bid2bill.com/wp-content/uploads/2024/09/8886451085603622e4746b494989e-small.png"
                },
                {
                  "id": 46248,
                  "bid_offer_product_id": "46246",
                  "created_at": "2026-04-07 20:01:19",
                  "updated_at": "2026-04-07 20:01:19",
                  "quantity": 1,
                  "product_id": 32506,
                  "product_title": "Test Product 5",
                  "product_url": "https://demo.bid2bill.com/product/test-product-5/",
                  "product_price": 6,
                  "product_price_html": "<del aria-hidden=\"true\"><span class=\"woocommerce-Price-amount amount\"><bdi>45.00&nbsp;<span class=\"woocommerce-Price-currencySymbol\">&#x62f;.&#x625;</span></bdi></span></del> <span class=\"screen-reader-text\">Original price was: 45.00&nbsp;&#x62f;.&#x625;.</span><ins aria-hidden=\"true\"><span class=\"woocommerce-Price-amount amount\"><bdi>6.00&nbsp;<span class=\"woocommerce-Price-currencySymbol\">&#x62f;.&#x625;</span></bdi></span></ins><span class=\"screen-reader-text\">Current price is: 6.00&nbsp;&#x62f;.&#x625;.</span>",
                  "calculated_sub_total": 6,
                  "selected_by_buyer": "",
                  "bought_by_buyer": "",
                  "product_image_url": "https://demo.bid2bill.com/wp-content/uploads/2024/04/qb2ivfv3_0-150x150.jpg"
                }
              ],
              "sub_total_available_only": 12,
              "sub_total_lowest_substitutes": 4,
              "sub_total_highest_substitutes": 6,
              "bought_by_buyer": "",
              "product_image_url": "https://demo.bid2bill.com/wp-content/uploads/2024/04/5052197050707-1-1-150x150.png"
            },
            {
              "id": 46249,
              "bid_offer_id": "46244",
              "created_at": "2026-04-07 20:01:19",
              "updated_at": "2026-04-07 20:01:19",
              "quantity": 1,
              "status": "not_available",
              "product_id": 32504,
              "product_title": "Test Product 3",
              "product_url": "",
              "product_price": 4,
              "product_price_html": "<del aria-hidden=\"true\"><span class=\"woocommerce-Price-amount amount\"><bdi>7.00&nbsp;<span class=\"woocommerce-Price-currencySymbol\">&#x62f;.&#x625;</span></bdi></span></del> <span class=\"screen-reader-text\">Original price was: 7.00&nbsp;&#x62f;.&#x625;.</span><ins aria-hidden=\"true\"><span class=\"woocommerce-Price-amount amount\"><bdi>4.00&nbsp;<span class=\"woocommerce-Price-currencySymbol\">&#x62f;.&#x625;</span></bdi></span></ins><span class=\"screen-reader-text\">Current price is: 4.00&nbsp;&#x62f;.&#x625;.</span>",
              "bid_offer_product_substitutes": [],
              "sub_total_available_only": 4,
              "sub_total_lowest_substitutes": 0,
              "sub_total_highest_substitutes": 0,
              "bought_by_buyer": "",
              "product_image_url": "https://demo.bid2bill.com/wp-content/uploads/2024/04/6295120046173-1-small.png"
            }
          ],
          "created_at": "2026-04-07 20:01:19",
          "updated_at": "2026-04-07 20:01:19",
          "parent_bid_request_id": 45859,
          "order_id": 0,
          "calculated_total_available_only_amount": 12,
          "calculated_total_amount_lowest_substitute": 4,
          "calculated_total_amount_highest_substitutes": 6,
          "calculated_percentage_discount_for_available_only": 25,
          "calculated_lowest_percentage_discount_for_available_and_substitutes": 25,
          "calculated_highest_percentage_discount_for_available_and_substitutes": 22.22,
          "calculated_possible_highest_discount": 25,
          "seen_by_buyer": "",
          "buyer_selected_available_only_or_available_and_substitute": "",
          "buyer_rejected_reason": "",
          "plan_type": "premium_3_month",
          "plan_amount_deductible_for_offer_submission": 0.5,
          "plan_amount_deductible_for_offer_submission_deducted": "yes",
          "plan_amount_saved_for_premium_plan_for_successful_offer_submission": 0.5,
          "plan_percent_deductible_for_successful_offer_acceptance": 0.5,
          "plan_amount_deductible_for_successful_offer_acceptance": 0,
          "plan_amount_deductible_for_offer_acceptance_deducted": "no",
          "plan_amount_saved_for_premium_plan_for_successful_offer_acceptance": 0,
          "plan_percent_saved_for_premium_plan_for_successful_offer_acceptance": 0,
          "plan_basic_percent_deductible_for_successful_offer_acceptance_now": 1,
          "plan_premium_percent_deductible_for_successful_offer_acceptance_now": 0.5
        }
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Wordpress Application Password Authentication"
      }
    },
    "responses": {
      "WooCustomerResponse": {
        "description": "WooCommerce customer response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WooCustomer"
            }
          }
        }
      },
      "SellerFreeTrialEligibilityResponse": {
        "description": "Seller free trial eligibility response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "eligibility": {
                  "$ref": "#/components/schemas/SellerEligibleFreePremiumTrial"
                }
              }
            }
          }
        }
      },
      "SellerMembershipCapabilitiesResponse": {
        "description": "Seller membership capabilities response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "capabilities": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SellerMembershipCapabilities"
                  },
[...]
